################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EXTERNALS
/BUILD/External.Variables.props
/BUILD/External.Variable.Constants.props
/BUILD/Dependencies.xml
/BUILD/External.Variable.Constants.props
/BUILD/External.Variables.props
/EXTERNALS/*
/OUTPUT/*
/SETUP/.vs/*
/SETUP/*/obj/*
/SOURCE/.vs/*
/SOURCE/*/obj/*
*.user

/SOURCE/Debug
/SOURCE/ITA.Common.v11.suo
/SOURCE/ITA.Common.sdf
/SOURCE/ITA.Common.Host.FailoverTest/Debug
/SOURCE/Test/TestHostApp.BusinessComponent/obj
/SOURCE/Test/TestHostApp.WinServiceRunner/obj
/SOURCE/Test/TestHostApp.Runner/obj
/SOURCE/Test/TestHostApp.Interfaces/obj
/SOURCE/Test/TestHostApp.FullNet.WinService/obj
/SOURCE/Test/TestHostApp.DummyHost/obj
/SOURCE/Test/TestHostApp.Common/obj
/SOURCE/ITA.Common.Tests/FodyWeavers.xsd
/SOURCE/ITA.Common.Host.FailoverTest/Release/**/*
/SOURCE/ITA.Common.Host.FailoverTest/x64/**/*
/SOURCE/ITA.EventlogMessages/Debug/**/*
/SOURCE/ITA.EventlogMessages/Release/**/*
/SOURCE/Release/**/*
/SOURCE/x64/Debug/**/*
/SOURCE/x64/Release/**/*
/SOURCE/ITA.EventlogMessages/MSG00000.bin
/SOURCE/ITA.EventlogMessages/Msgs.mh
**/.idea