<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=2.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity, Version=2.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>


    <namespace name="ITA.Common.Host"/>
    <namespace name="ITA.Common.Host.Interfaces"/>
    <namespace name="ITA.Common.Host.Context"/>
    <namespace name="ITA.Common.Host.ConfigManager"/>
    <namespace name="ITA.Common.Host.Components"/>
    <namespace name="Interfaces"/>
    <namespace name="BusinessComponent"/>

    <assembly name="ITA.Common.Host"/>
    <assembly name="ITA.Common"/>
    <assembly name="TestHostApp.Interfaces"/>
    <assembly name="TestHostApp.BusinessComponent"/>
  
    <container>

      <register type="ISettingsStorage" mapTo="FileSettingsStorage" name="FileSettingsStorage">
        <lifetime type="singleton"/>
        <constructor/>
      </register>
     
      <register type="IConfigManager" mapTo="ConfigManager">
        <lifetime type="singleton"/>
        <constructor>
          <param name="storages">
            <array type="ISettingsStorage">
              <dependency name="FileSettingsStorage"/>
            </array>
          </param>
        </constructor>
      </register>

        <register type="IBusinessLogic" mapTo="BusinessLogic">
            <lifetime type="singleton"/>
            <constructor>
                <param name="context"/>
                <param name="configManager"/>
                <param name="storage">
                    <dependency name="FileSettingsStorage"/>
                </param>
            </constructor>
        </register>


    </container>
  </unity>

  <appSettings>
    <add key="Culture" value="ru"/>
      <add key="BusinessLogic_MyPath" value="TestNetCoreApplicationUpdAppConfig1.txt"/>
      <add key="BusinessLogic_MyTimeout" value="11"/>
      <add key="Engine_ID" value="{a6c605f5-5ea2-4114-9c5f-e66627871c40}"/>
      <add key="Engine_AutoStart" value="1"/>
  </appSettings>

</configuration>
