<?xml version="1.0" encoding="utf-8" ?>
<log4net>
    <appender name="Engine" type="log4net.Appender.RollingFileAppender">
        <file type="log4net.Util.PatternString" value="c:\ProgramData\Application Data\Test\Test NetCore Server\Logs\Engine.log"/>
        <appendToFile value="true"/>
        <encoding value="utf-8"/>
        <maxSizeRollBackups value="10"/>
        <maximumFileSize value="10MB"/>
        <rollingStyle value="Size"/>
        <datePattern value="yyyyMMdd"/>
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date [%property{ProcessId}] [%thread] %-5level %logger - %message%newline"/>
        </layout>
        <filter type="log4net.Filter.LoggerMatchFilter">
            <loggerToMatch value="LocaleMessages"/>
            <acceptOnMatch value="false"/>
        </filter>
    </appender>
    <appender name="DummyHost" type="log4net.Appender.RollingFileAppender">
        <file type="log4net.Util.PatternString" value="c:\ProgramData\Application Data\Test\Test NetCore Server\Logs\DummyHost.log"/>
        <appendToFile value="true"/>
        <encoding value="utf-8"/>
        <maxSizeRollBackups value="10"/>
        <maximumFileSize value="10MB"/>
        <rollingStyle value="Size"/>
        <datePattern value="yyyyMMdd"/>
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date [%property{ProcessId}] [%thread] %-5level %logger - %message%newline"/>
        </layout>
    </appender>
    <appender name="FileWriterService" type="log4net.Appender.RollingFileAppender">
        <file type="log4net.Util.PatternString" value="c:\ProgramData\Application Data\Test\Test NetCore Server\Logs\FileWriterService.log"/>
        <appendToFile value="true"/>
        <encoding value="utf-8"/>
        <maxSizeRollBackups value="10"/>
        <maximumFileSize value="10MB"/>
        <rollingStyle value="Size"/>
        <datePattern value="yyyyMMdd"/>
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date [%property{ProcessId}] [%thread] %-5level %logger - %message%newline"/>
        </layout>
    </appender>
    <appender name="FileEventLog" type="log4net.Appender.RollingFileAppender">
        <file type="log4net.Util.PatternString" value="c:\ProgramData\Application Data\Test\Test NetCore Server\Logs\FileEventLog.log"/>
        <appendToFile value="true"/>
        <encoding value="utf-8"/>
        <maxSizeRollBackups value="10"/>
        <maximumFileSize value="10MB"/>
        <rollingStyle value="Size"/>
        <datePattern value="yyyyMMdd"/>
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date [%property{ProcessId}] [%thread] %-5level %logger - %message%newline"/>
        </layout>
    </appender>
    
    <root>
        <level value="VERBOSE"/>
        <appender-ref ref="Engine"/>
    </root>
    <logger name="DummyHost">
        <level value="VERBOSE"/>
        <appender-ref ref="DummyHost"/>
    </logger>
    <logger name="FileWriterService">
        <level value="DEBUG"/>
        <appender-ref ref="FileWriterService"/>
    </logger>
    <logger name="FileEventLog">
        <level value="DEBUG"/>
        <appender-ref ref="FileEventLog"/>
    </logger>

</log4net>