<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net, Version=1.2.13.0, Culture=neutral, PublicKeyToken=669e0ddf0bb1aa2a"/>
	</configSections>
	<connectionStrings>
		<add name="SqlServerConnection" connectionString="Data Source=.\sqlexpress;Initial Catalog=test_9;User Id=testUser_7;Password=testUser_7;" providerName="System.Data.SqlClient"/>
		<add name="OracleConnection" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=XE))); User Id=ib; Password=ib"/>
    <add name="MySqlConnection" connectionString="server=localhost;user id=root;password=vbfgrt45$%;port=3306;database=mysql_auto_db_1"/>    
  </connectionStrings>
	<log4net>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%message%newline"/>
			</layout>
			<threshold value="ALL"/>
		</appender>
		<appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
			<file type="log4net.Util.PatternString" value="${ALLUSERSPROFILE}\ITA\ITA Common\Logs\DatabaseWizard.%processid._"/>
			<appendToFile value="true"/>
			<maxSizeRollBackups value="10"/>
			<maximumFileSize value="10MB"/>
			<rollingStyle value="Composite"/>
			<datePattern value="yyyyMMdd"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
			</layout>
		</appender>
		<root>
			<level value="ALL"/>
			<appender-ref ref="FileAppender"/>
		</root>
		<logger name="ITA.Wizards.DatabaseWizard.DatabaseWizard">
			<level value="ALL"/>
			<appender-ref ref="ConsoleAppender"/>
		</logger>
	</log4net>
	<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
</configuration>
