<?xml version="1.0" encoding="utf-8" ?>

<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <!--<alias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity, Version=2.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>-->
  <alias alias="singleton" type="Unity.LifeTime.ContainerControlledLifetimeManager, Unity.Abstractions, Version=4.0.3.0, Culture=neutral, PublicKeyToken=489b6accfaf20ef0"/>

  <namespace name="ITA.Common.Host"/>
  <namespace name="ITA.Common.Host.Windows"/>
  <namespace name="ITA.Common.Host.Windows.Service"/>
  <namespace name="ITA.Common.Host.Interfaces"/>
  <namespace name="ITA.Common.Host.Context"/>
  <namespace name="ITA.Common.Host.ConfigManager"/>
  <namespace name="ITA.Common.Host.Components"/>
  <namespace name="Interfaces"/>
  <namespace name="BusinessComponent"/>
  <namespace name="Microsoft.Extensions.Hosting"/>

  <assembly name="ITA.Common.Host"/>
  <assembly name="ITA.Common.Host.Windows"/>
  <assembly name="ITA.Common"/>
  <assembly name="TestHostApp.Interfaces"/>
  <assembly name="TestHostApp.BusinessComponent"/>
  <assembly name="Microsoft.Extensions.Hosting.Abstractions"/>

  <container>

    <register type="ISettingsStorage" mapTo="FileSettingsStorage" name="FileSettingsStorage">
      <lifetime type="singleton"/>
      <constructor/>
    </register>

    <register type="IConfigManager" mapTo="ConfigManager">
      <lifetime type="singleton"/>
      <constructor>
        <param name="storages">
          <array type="ISettingsStorage">
            <dependency name="FileSettingsStorage"/>
          </array>
        </param>
      </constructor>
    </register>

    <register type="IBusinessLogic" mapTo="BusinessLogic">
      <lifetime type="singleton"/>
      <constructor>
        <param name="context"/>
        <param name="configManager"/>
        <param name="storage">
          <dependency name="FileSettingsStorage"/>
        </param>
      </constructor>
    </register>

    <register type="IEventLog" mapTo="EventLog">
      <lifetime type="singleton"/>
    </register>

    <register type="IServiceFactory" mapTo="WindowsHostedServiceFactory">
      <lifetime type="singleton"/>
    </register>

    <register type="IApplicationHost" mapTo="WinBaseApplicationHost" name="ApplicationHost">
      <lifetime type="singleton"/>
    </register>

  </container>
</unity>